<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>گزارش ها</title>
    <link rel="stylesheet" href="./../../vendors/dataTable/dataTables.min.css" type="text/css">
    <link rel="shortcut icon" href="./../../assets/media/image/favicon.png"/>
    <link rel="stylesheet" href="./../../vendors/bundle.css" type="text/css">
    <link rel="stylesheet" href="./../../vendors/dataTable/dataTables.min.css" type="text/css">
    <link rel="stylesheet" href="./../../assets/css/app.min.css" type="text/css">
</head>
<body class="form-membership mx-4">

<form class="needs-validation mb-5" id="formaddapp" novalidate>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationTooltip01">نام</label>
            <input type="hidden" class="form-control" id="phone_id" name="phone_id" value="{{phone_id}}" placeholder="نام" required>
            <input type="text" class="form-control" name="name" placeholder="نام" required>

        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip02">ادرس پکیج</label>
            <input type="text" class="form-control" name="address" id="validationTooltip02" placeholder="ادرس پکیج"
                   required>

        </div>
    </div>

    <button class="btn btn-primary" type="submit">ثبت</button>
</form>

<table id="smsTable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>نام</th>
        <th>ادرس پکیج</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {{#each model}}
        <tr id="model">
            <td class="text-success font-weight-bold"><a href="#">{{name}}</a></td>
            <td class="text-success font-weight-bold"><a href="#">{{address}}</a></td>
            <td id="{{name}}" class="text-danger font-weight-bold" onclick="deleteApp('{{name}}')">delete</td>

        </tr>
    {{/each}}
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="modalization">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">نام</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="containerer"></p>
            </div>
            <div class="d-flex justify-content-center align-item-center modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<script src="./../../vendors/bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="./../../vendors/dataTable/jquery.dataTables.min.js"></script>
<script src="./../../vendors/dataTable/dataTables.bootstrap4.min.js"></script>
<script src="./../../vendors/dataTable/dataTables.responsive.min.js"></script>

<!-- App scripts -->
<script src="./../../assets/js/app.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA=="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    var socket = io();

    function showMessage(input) {
        $('#containerer').text(input)
        jQuery.noConflict();
        $('#modalization').modal('show')
    }

    var smDataTable = null
    $(document).ready(function () {
        smDataTable = $('#smsTable').DataTable({
            "scrollY": "400px",
            "scrollCollapse": true
        });
    });

    function deleteApp(row) {
        console.log(`#${row}`)
        smDataTable.clear().draw();
        $.ajax({
            url: '/users/remove-app-ejbari',
            type: 'POST',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            data: {name: row,phone_id:$('#phone_id').val()},
            cache: false,
            success: function (s) {
                console.log(s)
                s.data[0].appMostInstall.forEach(x => {
                    smDataTable.row.add([
                        `<div  class="text-success font-weight-bold"> ${x.name} </div>`,
                        `<div  class="text-success font-weight-bold"> ${x.address} </div>`,
                        `<div id="${x.name}" class="text-danger font-weight-bold" onclick="deleteApp('${x.name}')">delete</div> `
                    ]).draw();
                })
            }
        })
    }

    function toast_success() {
        toastr.options = {
            timeOut: 3000,
            progressBar: true,
            positionClass: "toast-bottom-full-width",
            showDuration: 200,
            hideDuration: 200
        };

        toastr.success('Successfully completed');
    }

    function toast_faile() {
        toastr.options = {
            timeOut: 3000,
            progressBar: true,
            positionClass: "toast-bottom-full-width",
            showDuration: 200,
            hideDuration: 200
        };
        toastr.error('check your connection');
    }

    const $form = $('#formaddapp')
    $form.on('submit', submitHandler)

    function submitHandler(e) {
        e.preventDefault()
        $.ajax({
            url: '/users/new-app',
            type: 'POST',
            data: $form.serialize()
        }).done(response => {
            smDataTable.row.add([
                `<div  class="text-success font-weight-bold"> ${$form.find('input[name="name"]').val()} </div>`,
                `<div  class="text-success font-weight-bold"> ${$form.find('input[name="address"]').val()} </div>`,
                `<div  id="${$form.find('input[name="name"]').val()}" class="text-danger font-weight-bold" onclick="deleteApp('${$form.find('input[name="name"]').val()}')">delete</div>`
            ]).draw();
            socket.emit('new_app', 'refresh')
            toast_success()
            //   window.location.reload();
        }).fail(x => {
            toast_faile()
        })
    }

    //socket
</script>
</body>
</html>